.wrapper,
body {
  height: 400px;
  margin: 5px;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.nav {
  background-color: rgb(140, 213, 231);
  flex: 1
}

.main {
  background-color: rgb(226, 167, 221);
  flex: 1
}
.second{
  background-color: rgb(231, 120, 157);
  flex: 1
}